@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

body {
    background-color: #141212;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-content {
    text-align: center;
    flex: 1;
}

.header-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #8d5620;
    margin: 0;
}

.header-content p {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: #ded9d9;
    margin: 0;
}

button.toggle-button {
    background-color: #b87230;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.toggle-button:hover {
    background-color: #a76128;
}
  
  .main-timeline {
    position: relative;
    flex: 1;
  }
  
  .main-timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #bdbdbd;
    z-index: 1;
}

.timeline {
    display: flex; 
    width: 100%; 
    margin-bottom: 40px;
    position: relative;
    align-items: flex-start; 
}

.timeline:nth-child(even) {
    flex-direction: row-reverse;
}
  .main-timeline .timeline {
    margin-bottom: 40px;
    position: relative;
  }
  
  .main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .main-timeline .icon:before,
  .main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
  }
  
  .main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px;
  }
  
  .main-timeline .icon:after {
    border: 2px solid #b87230;
    left: 3px;
  }
  
  .main-timeline .timeline:hover .icon:before {
    left: 3px;
  }
  
  .main-timeline .timeline:hover .icon:after {
    left: -3px;
  }
  
  .main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative;
  }
  
  .main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #df7c26;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
  }
  
  .main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1;
  }
  
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s;
  }
  
  .main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px;
  }
  
  .main-timeline .date-outer:after {
    border: 2px solid #d27630;
    left: 6px;
  }
  
  .main-timeline .timeline:hover .date-outer:before {
    left: 6px;
  }
  
  .main-timeline .timeline:hover .date-outer:after {
    left: -6px;
  }
  
  .main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0;
  }


.main-timeline .day {
    font-size: 20px;
    font-weight: 700;
    color: #232323;
}
  
  .main-timeline .month {
    font-size: 18px;
    font-weight: 700;
    color: #232323;
  }
  
  .main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #232323;
    line-height: 36px;
  }
  
  .main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right;
    color: rgb(201, 200, 199);
  }
  
  .main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  
  .main-timeline .description {
    margin-bottom: 0;
  }
  
  .main-timeline .timeline:nth-child(2n) .date-content {
    float: right;
  }
  
  .main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px;
  }
  
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right;
  }
  
 
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2c2c2c;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b87230;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #df7c26;
  }
  
  .events-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-content {
    margin: auto;
    background-color: #141212;
    border: 1px solid #b87230;
    border-radius: 10px;
    color: #c1b9b1;
    padding: 20px;
    font-family: 'Lato', sans-serif; 
}

.modal-header {
    display: flex;
    justify-content: center;
    border-bottom: none;
}

.modal-title {
    margin: 0 auto;
    font-size: 24px;
    color: #f5cba7; 
    text-align: center;
    font-family: 'Playfair Display', serif; 
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-footer .btn {
    background-color: #fff;
    border: 2px solid #b87230;
    color: #b87230;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-family: 'Lato', sans-serif; 
}

.modal-footer .btn:hover {
    background-color: #b87230;
    color: #fff;
    transform: scale(1.05);
}

.modal-footer .btn:active {
    background-color: #df7c26;
    color: #fff;
    transform: scale(0.95);
}

.modal-body p {
    color: #f5cba7; 
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Lato', sans-serif;
}

.modal-body p:hover {
    color: #df7c26;
}

.modal-body strong {
    color: #f5cba7; 
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Lato', sans-serif; 
}

.modal-body strong:hover {
    color: #df7c26;
}

#particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Add styles for the link in the modal */
.modal-link {
  color: #f5cba7;
  text-decoration: none;
  font-weight: bold;
}

.modal-link:hover {
  text-decoration: none;
}

.event-poster {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-poster img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-link{
  color: #f5cba7;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  transition: color 0.3s ease, transform 0.3s ease;
  align-items: center;
  justify-content: center;
}